{% extends 'base.html' %}

{% block body %}

      <form  method="post">
        <table>
          <tr>
            <td> Loan amount (A): </td> <td> <input type="text" name="loan" /> </td>
          </tr>
          <tr>
            <td> Payments per year (p): </td> <td> <input type="text" name="payments" /> </td>
          </tr>
          <tr>
            <td> Number of years (y): </td> <td> <input type="text" name="years" /> </td>
          </tr>
          <tr>
            <td> Annual rate (r): </td> <td> <input type="text" name="rate" /> </td>
          </tr>
        </table>
          <br>
        <input class="button" type="submit" formaction="/payment" value="Calculate Loan" />
      </form>

      <p> {{ display }} </p>
      <div style="clear:both;"></div>
{% endblock %}
