{% extends 'base.html' %}

{% block body %}

      <form  method="post">
        <table>
          <tr>
            <td> Loan amount (A): </td> <td> <input type="text" name="A" /> </td>
          </tr>
          <tr>
            <td> Payments per year (p): </td> <td> <input type="text" name="p" /> </td>
          </tr>
          <tr>
            <td> Number of years (y): </td> <td> <input type="text" name="y" /> </td>
          </tr>
          <tr>
            <td> Annual rate (r): </td> <td> <input type="text" name="r" /> </td>
          </tr>
          <tr>
            <td> Number of payment periods (f): </td> <td> <input type="text" name="f" /> </td>
          </tr>
        </table>
          <br>
        <input class="button" type="submit" formaction="/calc" value="Calculate Loan" />
      </form>

      <p> {{ display }} </p>
      <div style="clear:both;"></div>
{% endblock %}
